/* ini css */
.main-header {
  text-align: center;
}

/* css main */
.main-content {
  display: flex;
}

article {
  text-align: justify;
  font-size: 18px;
}

.content {
  padding: 12px;
}

.left-content {
  flex: 1;
}

/* css form */
.form-left {
  background-color: antiquewhite;
  padding: 16px;
  border-radius: 10px;
}

.field-input {
  margin: 12px;
}

.input-form {
  width: 95%;
  border: 1px solid;
  border-radius: 5px;
  padding: 12px;
}

.button {
  padding: 12px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid;
  color: white;
}

.submit {
  background-color: orange;
}

.reset {
  background-color: orangered;
}

/* css result */
.right-content {
  flex: 1;
  padding-left: 50px;
}

/* css hasil */
.result {
  background-color: antiquewhite;
  padding: 16px;
  border-radius: 10px;
}

.result_content {
  text-align: center;
  font-size: 20px;
}

.hasil {
  font-size: 30px;
}

/* css general result */
.button_result {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.result_general {
  text-align: center;
  margin: 5px;
}

@media screen and (max-width: 900px) {
  .main-content {
    flex-direction: column;
  }
  .right-content {
    padding-left: 12px;
  }
}
